.popup-box {
  font-size: 15px;
}

.ui.blue.button.checkout-button {
  font-size: 14px;
}
.ui.blue.button.add-recommender-button {
  font-size: 14px;
}
.ui.form .field > label {
  font-size: 14px;
}
.recommender-form-submit-button {
  font-size: 14px;
  background-color: beige;
}
.ui.button {
  font-size: 14px;
}
.add-reco-form-container {
  width: 600px;
}
.checkout-button-container {
  margin-bottom: 10px;
  margin-right: 50px;
  float: right;
}

.button-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 15%;
  flex-direction: column;
}

.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  font-size: 14px;
}

.ui.form input[type="checkbox"],
.ui.form textarea {
  font-size: 14px;
}

.ui.form .field:last-child,
.ui.form .fields:last-child .field {
  margin-bottom: 0;
  width: 0px;
}

.ui.button {
  background: transparent;
}

.recommendation-table {
  font-weight: bold;
}

.recommender-info {
  font-weight: normal;
}
.back-button {
  font-size: 14px;
  margin-top: 10px;
}
