.page-title {
  padding: 10px 0;
  margin: 10px;
}

.ui.selection.dropdown,
.ui.search {
  margin: 15px auto;
  width: 60%;
  max-width: 500px;
}

.ui.icon.input,
.ui.search > .results {
  width: 100%;
}

.entry-image {
  float: right;
}
