h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  text-align: center;
  border: solid 2px none;
  margin-top: 30px;
}

body {
  padding: 50;
  font-family: "Open Sans Condensed", sans-serif;
  background: url("../images/wood.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  max-height: fit-content;
}

.add-rec {
  display: flex;
  margin-top: 30px;
  margin-left: 40%;
  border-radius: 20px;
}
.userName {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-family: sans-serif;
  font-size: 50px;
}
.icons {
  margin-top: 0;
  margin-bottom: 0;
}

div.ui.selection.dropdown,
div.ui.search {
  width: 60%;
  margin-left: 25%;
  max-width: 500px;
  border-radius: 20px;
}
i.icon.plus:before {
  content: "\f067";
  margin-left: 20px;
}

.newRec-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.icon-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 100px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
