.row {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 15%;
}
.logo {
  margin-right: 20px;
  text-align: center;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 100px;
  text-align: center;
  border: solid 2px white;

  padding: 60px;
}

body {
  padding: 50;
  font-family: "Open Sans Condensed", sans-serif;
  /* background: url("../images/header.gif");
  background-repeat: no-repeat; */
  opacity: 0.9;
}
div.transbox {
  margin: 20px;
  background-color: #ffffff;

  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox h1 {
  margin: 1%;
  font-weight: bold;
  color: #000000;
}
div.background {
  background-color: turquoise;
}
